spring:
  main:
    allow-bean-definition-overriding: true
### 配置 Eureka 注册中心位置
eureka:
  client:
    service-url:
      defaultZone: http://localhost:9999/eureka/
#hystrix的超时时间
hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 8000
#ribbon的超时时间
ribbon:
  ReadTimeout: 8000
  ConnectTimeout: 8000